.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-item {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

span {
  font-weight: bold;
}
